
h1 {
    /*background-color: maroon;*/
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    color: #fff;
    border-style: inset;
    border-color: red;
    border-width: 10px;
    padding: 35px;
    text-align: center;  
    text-shadow: 2px 2px maroon;
    /*background-color: rgb(20,20,20);*/
    background-image: url(multimedia/fondo1.jpg);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 20px;
    text-align: left;   
    text-shadow: 2px 2px maroon; 
    /*border-style: inset;
    border-color: red;
    border-width: 5px;*/
    background-color:rgb(20,20,20);
}
body {
    background-color: rgb(20,20,20);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: white;
    margin: 30px;
    text-align: justify;
}

#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table1 td, #table1 th {
  border: 1px solid white;
  padding: 12px;
}


#table1 tr:hover {background-color: rgb(50,50,50);}

#table1 th {
  text-align: center;
  background-color: maroon;
}

em{
  font-style: italic;
}

ul{
  list-style-type: circle;
}




#fPortada {
  float: right;
  width: 300px;
}

#fPortada img{
  width: 300px;
}

footer{
  text-align: right;
  padding-top: 30px;
  font-size : small;
}

#navBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20,20,20);
}

#navBar li{
  float: left;
}

#navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: maroon;
}
#navBar li a:hover {
  background-color: maroon;
}